<form #registroForm="ngForm" (ngSubmit)="registro()" class="registro-form">
    <h3>Formulario de registro</h3>
    <hr>

    <div class="mb-2">
        <label for="nombreRegistro" class="form-label">Nombre</label>
        <input id="nombreRegistro" type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre" #nombre="ngModel"
                [ngClass]="{ 'is-invalid': fs.campoInvalido(nombre) }" required>
        <div class="invalid-feedback" *ngIf="fs.campoInvalido(nombre)">
            <small *ngIf="nombre.errors.required">Campo requerido</small>
        </div>
    </div>

    <div class="mb-2">
        <label for="apellidosRegistro" class="form-label">Apellidos</label>
        <input id="apellidosRegistro" type="text" class="form-control" name="apellidos" [(ngModel)]="usuario.apellidos" #apellidos="ngModel"
                [ngClass]="{ 'is-invalid': fs.campoInvalido(apellidos) }" required>
        <div class="invalid-feedback" *ngIf="fs.campoInvalido(apellidos)">
            <small *ngIf="apellidos.errors.required">Campo requerido</small>
        </div>
    </div>

    <div class="mb-2">
        <label for="correoRegistro" class="form-label">Correo</label>
        <input id="correoRegistro" type="email" class="form-control" name="correo" [(ngModel)]="usuario.correo" #correo="ngModel"
                [ngClass]="{ 'is-invalid': fs.campoInvalido(correo) }" email required>
        <div class="invalid-feedback" *ngIf="fs.campoInvalido(correo)">
            <small *ngIf="correo.errors.required">Campo requerido</small>
            <small *ngIf="correo.errors.email">correo no válido</small>
        </div>
    </div>

    <div class="mb-2">
        <label for="urlRegistro" class="form-label">URL</label>
        <input id="urlRegistro" type="text" class="form-control" name="url" [(ngModel)]="usuario.url" #url="ngModel"
                [ngClass]="{ 'is-invalid': fs.campoInvalido(url) }" required>
        <div class="invalid-feedback" *ngIf="fs.campoInvalido(url)">
            <small *ngIf="url.errors.required">Campo requerido</small>
        </div>    
    </div>
    
    <div class="mb-2">
        <label for="passwordRegistro" class="form-label">Contraseña</label>
        <input id="passwordRegistro" type="password" class="form-control" name="password" [(ngModel)]="usuario.password" #password="ngModel"
                [ngClass]="{ 'is-invalid': fs.campoInvalido(password) }" minlength="8" required>
        <div class="invalid-feedback" *ngIf="fs.campoInvalido(password)">
            <small *ngIf="password.errors.required">Campo requerido</small>
            <small *ngIf="password.errors.minlength">Longitud mínima de 8</small>
        </div>   
    </div>

    <div class="mb-2">
        <label for="password2Registro" class="form-label">Repetir contraseña</label>
        <input id="password2Registro" type="password" class="form-control" name="password2" [(ngModel)]="password2" #passwordConfirm="ngModel"
                [ngClass]="{ 'is-invalid': fs.campoInvalido(passwordConfirm) }" minlength="8" required>
            <div class="invalid-feedback" *ngIf="fs.campoInvalido(passwordConfirm)">
                <small *ngIf="passwordConfirm.errors.required">Campo requerido</small>
                <small *ngIf="passwordConfirm.errors.minlength">Longitud mínima de 8</small>
            </div>        
    </div>
    
    <div class="d-flex mt-2">
        <button class="btn btn-primary w-25" [disabled]="registroForm.invalid">Registrar</button>
    </div>
</form>
