<form class="registro-form">
    <h3>Formulario de registro</h3>
    <hr>
    <div class="mb-2">
        <label for="reg-nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="reg-nombre">
    </div>
    <div class="mb-2">
        <label for="reg-apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="reg-apellidos">
    </div>
    <div class="mb-2">
        <label for="reg-email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="reg-email">
    </div>
    <div class="mb-2">
        <label for="reg-url" class="form-label">URL</label>
        <input type="text" class="form-control" id="reg-url">
    </div>
    <div class="mb-2">
        <label for="reg-password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="reg-password">
    </div>
    <div class="mb-2">
        <label for="reg-password2" class="form-label">Repetir contraseña</label>
        <input type="password" class="form-control" id="reg-password2">
    </div>
    <div class="d-flex mt-2">
        <button type="button" class="btn btn-primary w-25">Enviar</button>
        <button routerLink="/" type="submit" class="btn btn-warning w-25 ms-auto">Cancelar</button>
    </div>
</form>