<form class="registro-form">
    <h3>Formulario de registro</h3>
    <hr>
    <div class="mb-2">
        <label for="nombreRegistro" class="form-label">Nombre</label>
        <input #nombreRegistro id="nombreRegistro" type="text" class="form-control">
    </div>
    <div class="mb-2">
        <label for="apellidosRegistro" class="form-label">Apellidos</label>
        <input #apellidosRegistro id="apellidosRegistro" type="text" class="form-control">
    </div>
    <div class="mb-2">
        <label for="correoRegistro" class="form-label">Correo</label>
        <input #correoRegistro id="correoRegistro" type="email" class="form-control">
    </div>
    <div class="mb-2">
        <label for="urlRegistro" class="form-label">URL</label>
        <input #urlRegistro id="urlRegistro" type="text" class="form-control">
    </div>
    <div class="mb-2">
        <label for="passwordRegistro" class="form-label">Contraseña</label>
        <input #passwordRegistro id="passwordRegistro" type="password" class="form-control">
    </div>
    <div class="mb-2">
        <label for="password2Registro2" class="form-label">Repetir contraseña</label>
        <input #passwordRegistro2 id="password2Registro2" type="password" class="form-control">
    </div>
    <div class="d-flex mt-2">
        <button (click)="registro(nombreRegistro.value, apellidosRegistro.value, correoRegistro.value,
                                urlRegistro.value, passwordRegistro.value, passwordRegistro2.value)"
                type="reset" class="btn btn-primary w-25">Registrar</button>
        <button routerLink="/" type="button" class="btn btn-warning w-25 ms-auto">Cancelar</button>
    </div>
</form>
