.registro-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .3);
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
}

.registro-form h3{
    text-align: center;
}