.registro-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1rem 1rem black;
    color: var(--main-text-color);
    background-color: var(--secondary-bg-color-t);
    /* background-color: #fafafa; */
}

.registro-form h3{
    text-align: center;
}