.main{
    display: flex;
    height: 9%;
}

.imagen{
    width: 140px;
    height: 140px;

    border-radius: 30% 70% 70% 30% / 30% 38% 62% 70% ;
    border: 1px solid white;

    margin: 3%;
    padding: 2%;
}

.imagen img{
    width: 90%;
}

.cards{
    display: flex;
    flex-direction: column;
}