<main class="contenedor">
    <div class="row libro p-4">
        <div class="col-9 d-flex justify-content-center">
            <div class="input-group text-center mb-3 w-25">
                <input #idbuscar (keyup)="buscarLibroIntro($event.keyCode, idbuscar.value)" type="number" class="form-control text-center" placeholder="Buscar por id">
                <a (click)="buscarLibro(idbuscar.value)" class="input-group-text"
                    style="text-decoration: none; cursor: pointer;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>
        <div class="col-9 d-flex flex-wrap gap-3 justify-content-center align-items-center">
            <ng-container *ngIf="libros.length == 0; else cards">
                <h4>No se ha encontrado ningún libro</h4>
            </ng-container>

            <ng-template #cards>
                <ng-container *ngFor="let libro of libros; let even = even">
                    <app-card [libro]="libro" [even]="even"
                              (eventoModificarLibro)="activarLibroAmodificar($event)"
                              (eventoEliminarLibro)="confirmarEliminar($event)">
                    </app-card>
                </ng-container>
            </ng-template>
        </div>

        <div class="col-3 ps-4 border-start border-1 border-success text-center">
            <div class="mx-4 mb-3 border-bottom border-3">
                <h3>Agregar libro</h3>
            </div>

            <form #libroAgregarForm="ngForm" (ngSubmit)="agregarLibro()">

                <div class="mb-3">
                    <input type="text" class="form-control text-center" placeholder="Título" name="titulo" [(ngModel)]="libroAagregar.titulo" #tituloAgregar="ngModel"
                           [ngClass]="{ 'is-invalid': fs.campoInvalido(tituloAgregar)}" required>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(tituloAgregar)">
                        <small *ngIf="tituloAgregar.errors.required">Campo requerido</small>
                    </div>
                </div>

                <div class="mb-3">
                    <select class="form-select text-center" name="tipo" [(ngModel)]="libroAagregar.tipo" #tipoAgregar="ngModel"
                            [ngClass]="{ 'is-invalid': fs.campoInvalido(tipoAgregar) }" required>
                        <option value="" selected>Tipo</option>
                        <option value="Tapa dura">Tapa dura</option>
                        <option value="Tapa blanda">Tapa blanda</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(tipoAgregar)">
                        <small *ngIf="tipoAgregar.errors.required">Campo requerido</small>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control text-center" placeholder="Autor" name="autor" [(ngModel)]="libroAagregar.autor" #autorAgregar="ngModel"
                           [ngClass]="{ 'is-invalid': fs.campoInvalido(autorAgregar) }" required>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(autorAgregar)">
                        <small *ngIf="autorAgregar.errors.required">Campo requerido</small>
                    </div>
                </div>
                
                <div class="mb-3">
                    <input type="number" class="form-control text-center" placeholder="Precio" name="precio" [(ngModel)]="libroAagregar.precio" #precioAgregar="ngModel"
                           [ngClass]="{ 'is-invalid': fs.campoInvalido(precioAgregar) }" required>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(precioAgregar)">
                        <small *ngIf="precioAgregar.errors.required">Campo requerido</small>
                    </div>
                </div>
                
                <div class="mb-3">
                    <input type="text" class="form-control text-center" placeholder="foto" name="foto" [(ngModel)]="libroAagregar.foto" #fotoAgregar="ngModel"
                           [ngClass]="{ 'is-invalid': fs.campoInvalido(fotoAgregar) }" required>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(fotoAgregar)">
                        <small *ngIf="fotoAgregar.errors.required">Campo requerido</small>
                    </div>
                </div>
                
                <button class="btn btn-success w-75" [disabled]="libroAgregarForm.invalid">Agregar Libro</button>
            </form>

            <hr>
            <div class="mx-4 mb-3 border-bottom border-3">
                <h3>Modificar libro</h3>
            </div>
            <form #libroModificarForm="ngForm" (ngSubmit)="modificarLibro()">

                <div class="mb-3">
                    <input type="text" class="form-control text-center" placeholder="Título" name="titulo" [(ngModel)]="libroAmodificar.titulo" #tituloModificar="ngModel"
                           [ngClass]="{ 'is-invalid': fs.campoInvalido(tituloModificar) }" required>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(tituloModificar)">
                        <small *ngIf="tituloModificar.errors.required">Campo requerido</small>
                    </div>
                </div>

                <div class="mb-3">
                    <select class="form-select text-center" name="tipo" [(ngModel)]="libroAmodificar.tipo" #tipoModificar="ngModel"
                            [ngClass]="{ 'is-invalid': fs.campoInvalido(tipoModificar) }" required>
                        <option value="" selected>Tipo</option>
                        <option value="Tapa dura">Tapa dura</option>
                        <option value="Tapa blanda">Tapa blanda</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(tipoModificar)">
                        <small *ngIf="tipoModificar.errors.required">Campo requerido</small>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control text-center" placeholder="Autor" name="autor" [(ngModel)]="libroAmodificar.autor" #autorModificar="ngModel"
                           [ngClass]="{ 'is-invalid': fs.campoInvalido(autorModificar) }" required>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(autorModificar)">
                        <small *ngIf="autorModificar.errors.required">Campo requerido</small>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="number" class="form-control text-center" placeholder="Precio" name="precio" [(ngModel)]="libroAmodificar.precio" #precioModificar="ngModel"
                           [ngClass]="{ 'is-invalid': fs.campoInvalido(precioModificar) }" required>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(precioModificar)">
                        <small *ngIf="precioModificar.errors.required">Campo requerido</small>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control text-center" placeholder="foto" name="foto" [(ngModel)]="libroAmodificar.foto" #fotoModificar="ngModel"
                           [ngClass]="{ 'is-invalid': fs.campoInvalido(fotoModificar) }" required>
                    <div class="invalid-feedback" *ngIf="fs.campoInvalido(fotoModificar)">
                        <small *ngIf="fotoModificar.errors.required">Campo requerido</small>
                    </div>
                </div>
                
                <input type="number" class="form-control text-center mb-3" placeholder="Código libro" name="id_libro" [(ngModel)]="libroAmodificar.id_libro" #codigoModificar="ngModel" readonly>
                <button class="btn btn-success w-75" [disabled]="libroModificarForm.invalid">Modificar Libro</button>
            </form>
        </div>
    </div>
</main>

<!-- Modal para eliminar -->
<div class="modal" id="eliminar-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Atención</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirme el borrado del libro con id {{eliminar_id_libro}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="borrarLibro(eliminar_id_libro)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>