<main class="contenedor">
    <div class="row libro p-4">
        <div class="col-9 d-flex justify-content-center">
            <div class="mx-4 mb-3 border-bottom border-3">
                    <h3>Agregar libro</h3>
            </div>
            <form>
                <input #titulo type="text" class="form-control text-center mb-3" placeholder="Título">
                <input #tipo type="text" class="form-control text-center mb-3" placeholder="Tapa blanda/dura">
                <input #autor type="text" class="form-control text-center mb-3" placeholder="Autor">
                <input #precio type="number" class="form-control text-center mb-3" placeholder="Precio">
                <input #photo type="text" class="form-control text-center mb-3" placeholder="Photo">
                <input #codigo type="number" class="form-control text-center mb-3" placeholder="Código libro">
                <button
                    (click)="addLibro(titulo, tipo, autor, precio, photo, codigo)"
                    type="reset" class="btn btn-success w-75">Agregar Libro</button>
            </form>
        </div>
    </div>
</main>
