.perfil {
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    border-radius: 25px;
    width: 50%;
    height: auto;
    text-align: center;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .3);
    border: 1px solid gray;
}

.perfil img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    text-align: center;
}

/* Estilos modificados de bootstrap */
.form-control:disabled, .form-control[readonly] {
    background-color: white;
}