<main class="contenedor">

    <div class="row perfil p-4">

        <div class="col-6 pe-4">
            <img [src]="us.usuario.url" onerror="this.src = '';" alt="Foto perfil">
            <hr>

            <h4><i class="fa-solid fa-user me-3"></i>{{us.usuario.nombre + ' ' + us.usuario.apellidos}}</h4>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text w-25">Nombre</span>
                <input type="text" class="form-control" [value]="us.usuario.nombre" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text w-25">Apellidos</span>
                <input type="text" class="form-control" [value]="us.usuario.apellidos" readonly>
            </div>
            <div class="input-group">
                <span class="input-group-text w-25">Correo</span>
                <input type="text" class="form-control" [value]="us.usuario.correo" readonly>
            </div>
        </div>
        
        <div class="col-6 pt-3 ps-4 border-start border-1 border-success">
            <div class="mx-4 mb-4 border-bottom border-3">
                <h3>Editar perfil</h3>
            </div>
            <form>
                <input #nombre type="text" class="form-control text-center mb-3" placeholder="Nombre" [value]="us.usuario.nombre">
                <input #apellidos type="text" class="form-control text-center mb-3" placeholder="Apellidos" [value]="us.usuario.apellidos">
                <input #correo type="email" class="form-control text-center mb-3" placeholder="Correo" [value]="us.usuario.correo">
                <input #url type="text" class="form-control text-center mb-3" placeholder="Url foto" [value]="us.usuario.url">
                <input #password type="password" class="form-control text-center mb-3" placeholder="Contraseña" [value]="us.usuario.password">
                <button type="button" (click)="modificar(nombre.value, apellidos.value, correo.value, url.value, password.value)"
                    class="btn btn-success mb-2 w-75">Modificar</button>
            </form>
        </div>

    </div>

</main>