<form #loginForm="ngForm" (ngSubmit)="login()" class="login-form">
    <h3>Inicio de sesión</h3>
    <hr>

    <div class="mb-2">
        <label for="correoLogin" class="form-label">Correo</label>
        <input id="correoLogin" type="email" class="form-control" name="correo" [(ngModel)]="usuario.correo" #correo="ngModel"
                [ngClass]="{ 'is-invalid': fs.campoInvalido(correo) }" email required>
        <div class="invalid-feedback" *ngIf="fs.campoInvalido(correo)">
            <small *ngIf="correo.errors.required">Campo requerido</small>
            <small *ngIf="correo.errors.email">correo no válido</small>
        </div>
    </div>

    <div class="mb-2">
        <label for="passwordLogin" class="form-label">Contraseña</label>
        <input id="passwordLogin" type="password" class="form-control" name="password" [(ngModel)]="usuario.password" #password="ngModel"
                [ngClass]="{ 'is-invalid': fs.campoInvalido(correo) }" required>
        <div class="invalid-feedback" *ngIf="fs.campoInvalido(correo)">
            <small *ngIf="password.errors.required">Campo requerido</small>
        </div>
    </div>

    <div class="d-flex mt-2">
        <button class="btn btn-primary w-25" [disabled]="loginForm.invalid">Login</button>
    </div>
</form>