.cabecera {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 100%;
    height: 100px;
    padding: 0 5rem;
    z-index: 1;
}

.imglogo {   
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.textlogo {
    font-family: 'Kings', cursive;
    font-size: 2.5rem;
}

.navegacion {
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: .5rem;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(230, 230, 230);
    margin-left: 1.2rem;
}

.navegacion a:hover {
    color: var(--main-text-color);
}