.cabecera {
    display: flex;
    align-items: center;
    position: fixed;
    font-family: 'Kings', cursive;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 100vw;
    height: 100px;
    padding: .5rem 2rem;

}

.imglogo {   
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.textlogo{
    font-size: 2.5rem;
}

.navegacion {
    margin-left: auto;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(230, 230, 230);
    margin-left: 1.2rem;
}

.navegacion a:hover {
    color: var(--main-text-color);
}