<main class="contenedor">
    <div class="row libro p-4">
        <div class="col-9 d-flex justify-content-center">
            <div class="input-group text-center mb-3 w-25">
                <input #idbuscar type="number" class="form-control text-center" placeholder="Buscar por id">
                <a (click)="buscarLibro(idbuscar.value)" class="input-group-text"
                    style="text-decoration: none; cursor: pointer;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>
        <div class="col-9 d-flex flex-wrap gap-3 justify-content-center align-items-center">
            <ng-container *ngIf="libros.length == 0; else cards">
                <h4>No se ha encontrado ningún libro</h4>
            </ng-container>

            <ng-template #cards>
                <ng-container *ngFor="let libro of libros; let even = even">
                    <div class="card" style="width: 18rem; height: 50rem;">
                        <img [src]="libro.photo" class="card-img-top" alt="Foto libro">
                        <div class="card-body text-dark pt-1"><br>
                            <small class="my-0">{{libro.tipoLibro}}</small>
                            <h5 class="card-title border-top border-success my-0 text-success">{{libro.titulo}}</h5>
                            <p class="card-text my-0"><b>Autor: </b>{{libro.autor}}</p>
                            <p class="card-text my-0">{{libro.id_libro | ref}}</p>
                            <h5 class="text-center mt-2 mb-1"><b>{{libro.precio}}€</b></h5>
                            <div class="d-flex">
                                <button type="button" class="btn" style="width: 80%;"
                                    [ngClass]="even ? 'btn-primary' : 'btn-dark'">Comprar</button>
                                <button (click)="borrarLibro(libro.id_libro)" type="button"
                                    class="btn btn-danger ms-auto">
                                    <i class="fa-solid fa-x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </div>        
    </div>
</main>