.pie {
    display: flex;
    align-items: center;
    background-color: var(--secondary-bg-color-dark);
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding: 0 5rem;
}

.pie p {
    align-self: end;
    margin-left: auto;
    margin-bottom: 0.5rem;
}

.pie a {
    margin-right: 1.2rem;
}

.pie img {
    height: 50px;
    width: auto;
}