<footer class="pie">
    <a href="#"><i class="fa-brands fa-facebook fs-1" style="color: rgb(70, 92, 175);"></i></a>
    <a href="#"><i class="fa-brands fa-instagram-square fs-1" style="color: rgb(195, 48, 93);"></i></a>
    <a href="#"><i class="fa-brands fa-twitter-square fs-1" style="color: rgb(85, 172, 239);"></i></a>
    <a href="#"><i class="fa-brands fa-whatsapp-square fs-1" style="color: rgb(70, 198, 85);"></i></a>
    <!-- <a href="#"><img src="../../../assets/img/facebook.png" alt=""></a>
    <a href="#"><img src="../../../assets/img/instagram.png" alt=""></a>
    <a href="#"><img src="../../../assets/img/twitter.png" alt=""></a> -->
    <p>2022 - © MyBooks - Todos los derechos reservados</p>
</footer>
