.informacion {
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 25px;
    width: 30%;
    height: auto;
    text-align: center;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .3);
    border: 1px solid gray;
}

.informacion h1 {
    font-family: "fantasy";
    font-size: 4rem;
}

.informacion p {
    font-size: 1.5rem;
}

.informacion a {
    text-decoration: none;
    color: blue;
}