.informacion {
    color: var(--main-text-color);
    background-color: var(--secondary-bg-color-t);
    padding: 20px;
    border-radius: 25px;
    width: 30%;
    height: auto;
    text-align: center;
    border: 1px solid gray;
}

.informacion h1 {
    font-family: 'Kings', cursive;
    font-size: 4rem;
}

.informacion p {
    font-size: 1.5rem;
}

.informacion a {
    text-decoration: none;
    color: lightgreen;
}