<main class="clean">
    <form class="form_libros">
        <input type="text" placeholder="id_libro">
        <input type="text" placeholder="id_usuario">
        <input type="text" placeholder="título">
        <input type="text" placeholder="tipo">
        <input type="text" placeholder="autor">
        <input type="text" placeholder="precio">
        <input type="text" placeholder="foto">

        <div class="btts">
            <button type="button">Crear libro</button>
            <button type="reset">Cancelar</button>
        </div>
    </form>
</main>


